<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="minimum-scale=1, maximum-scale=1, initial-scale=1, width=device-width" />
  <title>Valheim Server Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <style>
    body {
      background-color: #303030;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
